nav {
  padding: 16px;
  background-color: antiquewhite;
  box-shadow: 0 2px 0 0 rgb(199, 182, 182);
}

main {
  background-image: url("../public/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 573.07px;
  top: 480.14px;
  left: 327.21px;
}
.title {
  width: 494.33px;
  height: 84px;
  top: 177.4px;
  left: 26.91px;
}
.title h1 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 494.33px;
  height: 48px;
  top: 284.04px;
  left: 26.91px;
}
button {
  background: #ff8c38;
  width: 494.33px;
  height: 49.83px;
  top: 383.7px;
  left: 26.91px;
  border-radius: 5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.about {
  background-image: url("../public/about-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 573.07px;
  top: 480.14px;
  left: 327.21px;
}

.about-title {
  width: 494.33px;
  height: 76px;
  top: 393.67px;
  left: 26.91px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.about-p {
  height: 154px;
  top: 501px;
  left: 27.02px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
  padding-left: 50px;
}

.about-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-card {
  width: 494px;
  height: 198px;
  top: 710px;
  left: 27.02px;
  width: 494px;
  height: 198px;
  top: 710px;
  left: 27.02px;
  border-radius: 5px;
  background-color: #FFCC8D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-card h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.about-btn {
  width: 174px;
  height: 49px;
  top: 827px;
  left: 65.02px;
  padding: 12px, 22px, 13px, 22px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background: #161616;
}
